button {
  margin-top: 20px;
  padding: 10px 20px;
  border: 2px solid $black1;
  border-radius: 150px;
  background: transparent;
  font-size: 1rem;
  box-shadow: 0px 2px 1px $blackShadow;
  transition: 0.2s;
  cursor: pointer;

  a {
    text-decoration: none;
    color: $black1;
  }
  &:hover {
    background: $black1;
    transform: scale(1.05);

    a {
      color: $white1;
    }
  }
}
