footer {
  background: $bg;

  .footerNiveau1 {
    .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      @media screen and (max-width: 905px) {
        grid-template-columns: 1fr;
      }

      div {
        padding: 20px;
        text-align: center;

        img {
          width: 100%;
          margin: 0 auto;
          transition: 0.2s;
          filter: drop-shadow(1px 1px 1px $blackShadow);

          @media screen and (max-width: 950px) {
            width: 50%;
            margin: 0 auto;
          }

          &:hover {
            transform: scale(1.05);
          }
        }

        h4 {
          padding: 20px;
          text-transform: uppercase;
          color: $white1;
        }

        ul {
          list-style: none;

          li {
            padding: 5px;
            a {
              color: $black1;
              transition: 0.2s;

              &:hover {
                color: $white1;
              }
            }
          }
        }

        .social-link {
          display: flex;
          justify-content: center;
          align-items: center;

          i {
            margin: 5px;
            font-size: 1.5rem;
            transition: 0.2s;

            &:hover {
              color: $white1;
              transform: translateY(-5px);
            }
          }
        }
      }
    }
  }

  .footerNiveau2 {
    .container {
      padding: 0 20px 20px;
      p {
        color: $black1;
        font-size: 0.9rem;

        a {
          color: $black1;
          text-decoration: none;

          &:hover {
            color: $white1;
          }
        }
      }
    }
  }
}
