//fonts

@font-face {
  font-family: "nunito";
  src: url(../fonts/Nunito-VariableFont_wght.ttf);
}

$font1: nunito, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;

//colors

$color1: #e6b459;
$color2: #766240;
$color3: #231b0d;
$color4: #fbc2eb;
$color5: #a6c1ee;
$black1: #070604;
$white1: #fff;
$text: #333;
$grey1: #dfdfdf;

$bg: linear-gradient(45deg, $color4 0%, $color5 100%);
$blackShadow: rgba(0, 0, 0, 0.25);
$whiteShadow: rgba(255, 255, 255, 0.25);

//general
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: $font1;
}

body {
  color: $text;
  font-size: 1rem;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black1;
  letter-spacing: 1px;
  font-weight: normal;
}

a,
a:visited {
  text-decoration: none;
}

//container
.container {
  width: 85%;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}
