//fonts

@font-face {
  font-family: "nunito";
  src: url(../fonts/Nunito-VariableFont_wght.ttf);
}

$font1: nunito, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;

//colors

$color1: #e6b459;
$color2: #766240;
$color3: #231b0d;
$color4: #ea4d8f;
$color5: #67dfde;
$black1: #070604;
$white1: #fff;
$text: #333;
$grey1: #dfdfdf;
$bg: linear-gradient(90deg, $color4, $color5);
$blackShadow: rgba(0, 0, 0, 0.25);
$whiteShadow: rgba(255, 255, 255, 0.25);

//container
.container {
  width: 85%;
  margin: 0 auto;
  padding: 50px 0;
}

//general
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: $font1;
}

body {
  color: $text;
  font-size: 1rem;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color1;
  letter-spacing: 1px;
  font-weight: normal;
}

a,
a:visited {
  text-decoration: none;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: 2px solid $color1;
  border-radius: 150px;
  background: transparent;
  color: $color1;
  font-size: 1rem;
  box-shadow: 0px 2px 1px $blackShadow;
  transition: 0.2s;
  &:hover {
    background: $color1;
    color: $white1;
    transform: scale(1.05);
  }
}
