@font-face {
  font-family: "nunito";
  src: url(../fonts/Nunito-VariableFont_wght.ttf);
}
.container {
  width: 85%;
  margin: 0 auto;
  padding: 50px 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: nunito, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

body {
  color: #333;
  font-size: 1rem;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ea4d8f;
  letter-spacing: 1px;
  font-weight: normal;
}

a,
a:visited {
  text-decoration: none;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: 2px solid #ea4d8f;
  border-radius: 150px;
  background: transparent;
  color: #ea4d8f;
  font-size: 1rem;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
button:hover {
  background: #ea4d8f;
  color: #fff;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

header {
  background: #090a29;
}
header nav {
  width: 85%;
  margin: 0 auto;
  padding: 10px 0;
  display: grid;
  grid-template-columns: 20% 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 770px) {
  header nav {
    grid-template-columns: 1fr;
    position: relative;
  }
}
header nav a {
  width: 100%;
  margin: 0 auto;
}
header nav a img {
  width: 60%;
  margin-bottom: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.25));
          filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.25));
}
@media screen and (max-width: 770px) {
  header nav a img {
    width: 30%;
    margin: 0 auto;
  }
}
header nav a img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
header nav a h1 {
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-bottom: 10px;
}
header nav a p {
  color: #fff;
  margin-bottom: 20px;
}
header nav .menu-icons {
  display: none;
  text-align: right;
  color: #ea4d8f;
}
@media screen and (max-width: 770px) {
  header nav .menu-icons {
    display: block;
    position: absolute;
    top: 70px;
    right: 0px;
  }
}
header nav .menu-icons i {
  font-size: 1.5rem;
}
header nav .menu-icons #open-icon {
  display: none;
}
@media screen and (max-width: 770px) {
  header nav .menu-icons #open-icon {
    display: block;
  }
}
header nav .menu-icons #close-icon {
  display: none;
}
header nav .menu-icons:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
header nav .menuNav .NavListLi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (max-width: 770px) {
  header nav .menuNav .NavListLi {
    display: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}
header nav .menuNav .NavListLi .liNav {
  list-style: none;
  padding: 5px;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  color: #fff;
}
@media screen and (max-width: 770px) {
  header nav .menuNav .NavListLi .liNav {
    padding: 10px 0;
    border-bottom: 1px solid #f1f1f1;
    border-radius: 0;
  }
}
header nav .menuNav .NavListLi .liNav a {
  color: #ea4d8f;
  width: 100%;
  height: 100%;
}
header nav .menuNav .NavListLi .liNav:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #ea4d8f;
}
@media screen and (max-width: 770px) {
  header nav .menuNav .NavListLi .liNav:hover {
    -webkit-transform: none;
            transform: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: #ea4d8f;
    color: #fff;
  }
  header nav .menuNav .NavListLi .liNav:hover a {
    color: #fff;
  }
}
header nav .menuNav .NavListLi #menuAbout .menuAboutNav,
header nav .menuNav .NavListLi #menuAbout .menuServicesNav,
header nav .menuNav .NavListLi #menuAbout .menuProgrammesNav,
header nav .menuNav .NavListLi #menuAbout .menuClubsNav,
header nav .menuNav .NavListLi #menuAbout .menuEventsNav,
header nav .menuNav .NavListLi #menuAbout .menuRessourcesNav,
header nav .menuNav .NavListLi #menuServices .menuAboutNav,
header nav .menuNav .NavListLi #menuServices .menuServicesNav,
header nav .menuNav .NavListLi #menuServices .menuProgrammesNav,
header nav .menuNav .NavListLi #menuServices .menuClubsNav,
header nav .menuNav .NavListLi #menuServices .menuEventsNav,
header nav .menuNav .NavListLi #menuServices .menuRessourcesNav,
header nav .menuNav .NavListLi #menuProgrammes .menuAboutNav,
header nav .menuNav .NavListLi #menuProgrammes .menuServicesNav,
header nav .menuNav .NavListLi #menuProgrammes .menuProgrammesNav,
header nav .menuNav .NavListLi #menuProgrammes .menuClubsNav,
header nav .menuNav .NavListLi #menuProgrammes .menuEventsNav,
header nav .menuNav .NavListLi #menuProgrammes .menuRessourcesNav,
header nav .menuNav .NavListLi #menuClubs .menuAboutNav,
header nav .menuNav .NavListLi #menuClubs .menuServicesNav,
header nav .menuNav .NavListLi #menuClubs .menuProgrammesNav,
header nav .menuNav .NavListLi #menuClubs .menuClubsNav,
header nav .menuNav .NavListLi #menuClubs .menuEventsNav,
header nav .menuNav .NavListLi #menuClubs .menuRessourcesNav,
header nav .menuNav .NavListLi #menuEvents .menuAboutNav,
header nav .menuNav .NavListLi #menuEvents .menuServicesNav,
header nav .menuNav .NavListLi #menuEvents .menuProgrammesNav,
header nav .menuNav .NavListLi #menuEvents .menuClubsNav,
header nav .menuNav .NavListLi #menuEvents .menuEventsNav,
header nav .menuNav .NavListLi #menuEvents .menuRessourcesNav,
header nav .menuNav .NavListLi #menuRessources .menuAboutNav,
header nav .menuNav .NavListLi #menuRessources .menuServicesNav,
header nav .menuNav .NavListLi #menuRessources .menuProgrammesNav,
header nav .menuNav .NavListLi #menuRessources .menuClubsNav,
header nav .menuNav .NavListLi #menuRessources .menuEventsNav,
header nav .menuNav .NavListLi #menuRessources .menuRessourcesNav {
  display: none;
}
header nav .menuNav .NavListLi #menuAbout .menuAboutNav ul,
header nav .menuNav .NavListLi #menuAbout .menuServicesNav ul,
header nav .menuNav .NavListLi #menuAbout .menuProgrammesNav ul,
header nav .menuNav .NavListLi #menuAbout .menuClubsNav ul,
header nav .menuNav .NavListLi #menuAbout .menuEventsNav ul,
header nav .menuNav .NavListLi #menuAbout .menuRessourcesNav ul,
header nav .menuNav .NavListLi #menuServices .menuAboutNav ul,
header nav .menuNav .NavListLi #menuServices .menuServicesNav ul,
header nav .menuNav .NavListLi #menuServices .menuProgrammesNav ul,
header nav .menuNav .NavListLi #menuServices .menuClubsNav ul,
header nav .menuNav .NavListLi #menuServices .menuEventsNav ul,
header nav .menuNav .NavListLi #menuServices .menuRessourcesNav ul,
header nav .menuNav .NavListLi #menuProgrammes .menuAboutNav ul,
header nav .menuNav .NavListLi #menuProgrammes .menuServicesNav ul,
header nav .menuNav .NavListLi #menuProgrammes .menuProgrammesNav ul,
header nav .menuNav .NavListLi #menuProgrammes .menuClubsNav ul,
header nav .menuNav .NavListLi #menuProgrammes .menuEventsNav ul,
header nav .menuNav .NavListLi #menuProgrammes .menuRessourcesNav ul,
header nav .menuNav .NavListLi #menuClubs .menuAboutNav ul,
header nav .menuNav .NavListLi #menuClubs .menuServicesNav ul,
header nav .menuNav .NavListLi #menuClubs .menuProgrammesNav ul,
header nav .menuNav .NavListLi #menuClubs .menuClubsNav ul,
header nav .menuNav .NavListLi #menuClubs .menuEventsNav ul,
header nav .menuNav .NavListLi #menuClubs .menuRessourcesNav ul,
header nav .menuNav .NavListLi #menuEvents .menuAboutNav ul,
header nav .menuNav .NavListLi #menuEvents .menuServicesNav ul,
header nav .menuNav .NavListLi #menuEvents .menuProgrammesNav ul,
header nav .menuNav .NavListLi #menuEvents .menuClubsNav ul,
header nav .menuNav .NavListLi #menuEvents .menuEventsNav ul,
header nav .menuNav .NavListLi #menuEvents .menuRessourcesNav ul,
header nav .menuNav .NavListLi #menuRessources .menuAboutNav ul,
header nav .menuNav .NavListLi #menuRessources .menuServicesNav ul,
header nav .menuNav .NavListLi #menuRessources .menuProgrammesNav ul,
header nav .menuNav .NavListLi #menuRessources .menuClubsNav ul,
header nav .menuNav .NavListLi #menuRessources .menuEventsNav ul,
header nav .menuNav .NavListLi #menuRessources .menuRessourcesNav ul {
  width: 200px;
}
header nav .menuNav .NavListLi #menuAbout .menuAboutNav ul li a,
header nav .menuNav .NavListLi #menuAbout .menuServicesNav ul li a,
header nav .menuNav .NavListLi #menuAbout .menuProgrammesNav ul li a,
header nav .menuNav .NavListLi #menuAbout .menuClubsNav ul li a,
header nav .menuNav .NavListLi #menuAbout .menuEventsNav ul li a,
header nav .menuNav .NavListLi #menuAbout .menuRessourcesNav ul li a,
header nav .menuNav .NavListLi #menuServices .menuAboutNav ul li a,
header nav .menuNav .NavListLi #menuServices .menuServicesNav ul li a,
header nav .menuNav .NavListLi #menuServices .menuProgrammesNav ul li a,
header nav .menuNav .NavListLi #menuServices .menuClubsNav ul li a,
header nav .menuNav .NavListLi #menuServices .menuEventsNav ul li a,
header nav .menuNav .NavListLi #menuServices .menuRessourcesNav ul li a,
header nav .menuNav .NavListLi #menuProgrammes .menuAboutNav ul li a,
header nav .menuNav .NavListLi #menuProgrammes .menuServicesNav ul li a,
header nav .menuNav .NavListLi #menuProgrammes .menuProgrammesNav ul li a,
header nav .menuNav .NavListLi #menuProgrammes .menuClubsNav ul li a,
header nav .menuNav .NavListLi #menuProgrammes .menuEventsNav ul li a,
header nav .menuNav .NavListLi #menuProgrammes .menuRessourcesNav ul li a,
header nav .menuNav .NavListLi #menuClubs .menuAboutNav ul li a,
header nav .menuNav .NavListLi #menuClubs .menuServicesNav ul li a,
header nav .menuNav .NavListLi #menuClubs .menuProgrammesNav ul li a,
header nav .menuNav .NavListLi #menuClubs .menuClubsNav ul li a,
header nav .menuNav .NavListLi #menuClubs .menuEventsNav ul li a,
header nav .menuNav .NavListLi #menuClubs .menuRessourcesNav ul li a,
header nav .menuNav .NavListLi #menuEvents .menuAboutNav ul li a,
header nav .menuNav .NavListLi #menuEvents .menuServicesNav ul li a,
header nav .menuNav .NavListLi #menuEvents .menuProgrammesNav ul li a,
header nav .menuNav .NavListLi #menuEvents .menuClubsNav ul li a,
header nav .menuNav .NavListLi #menuEvents .menuEventsNav ul li a,
header nav .menuNav .NavListLi #menuEvents .menuRessourcesNav ul li a,
header nav .menuNav .NavListLi #menuRessources .menuAboutNav ul li a,
header nav .menuNav .NavListLi #menuRessources .menuServicesNav ul li a,
header nav .menuNav .NavListLi #menuRessources .menuProgrammesNav ul li a,
header nav .menuNav .NavListLi #menuRessources .menuClubsNav ul li a,
header nav .menuNav .NavListLi #menuRessources .menuEventsNav ul li a,
header nav .menuNav .NavListLi #menuRessources .menuRessourcesNav ul li a {
  color: #090a29;
}
header nav .menuNav .NavListLi #menuAbout .menuAboutNav ul li:hover a,
header nav .menuNav .NavListLi #menuAbout .menuServicesNav ul li:hover a,
header nav .menuNav .NavListLi #menuAbout .menuProgrammesNav ul li:hover a,
header nav .menuNav .NavListLi #menuAbout .menuClubsNav ul li:hover a,
header nav .menuNav .NavListLi #menuAbout .menuEventsNav ul li:hover a,
header nav .menuNav .NavListLi #menuAbout .menuRessourcesNav ul li:hover a,
header nav .menuNav .NavListLi #menuServices .menuAboutNav ul li:hover a,
header nav .menuNav .NavListLi #menuServices .menuServicesNav ul li:hover a,
header nav .menuNav .NavListLi #menuServices .menuProgrammesNav ul li:hover a,
header nav .menuNav .NavListLi #menuServices .menuClubsNav ul li:hover a,
header nav .menuNav .NavListLi #menuServices .menuEventsNav ul li:hover a,
header nav .menuNav .NavListLi #menuServices .menuRessourcesNav ul li:hover a,
header nav .menuNav .NavListLi #menuProgrammes .menuAboutNav ul li:hover a,
header nav .menuNav .NavListLi #menuProgrammes .menuServicesNav ul li:hover a,
header nav .menuNav .NavListLi #menuProgrammes .menuProgrammesNav ul li:hover a,
header nav .menuNav .NavListLi #menuProgrammes .menuClubsNav ul li:hover a,
header nav .menuNav .NavListLi #menuProgrammes .menuEventsNav ul li:hover a,
header nav .menuNav .NavListLi #menuProgrammes .menuRessourcesNav ul li:hover a,
header nav .menuNav .NavListLi #menuClubs .menuAboutNav ul li:hover a,
header nav .menuNav .NavListLi #menuClubs .menuServicesNav ul li:hover a,
header nav .menuNav .NavListLi #menuClubs .menuProgrammesNav ul li:hover a,
header nav .menuNav .NavListLi #menuClubs .menuClubsNav ul li:hover a,
header nav .menuNav .NavListLi #menuClubs .menuEventsNav ul li:hover a,
header nav .menuNav .NavListLi #menuClubs .menuRessourcesNav ul li:hover a,
header nav .menuNav .NavListLi #menuEvents .menuAboutNav ul li:hover a,
header nav .menuNav .NavListLi #menuEvents .menuServicesNav ul li:hover a,
header nav .menuNav .NavListLi #menuEvents .menuProgrammesNav ul li:hover a,
header nav .menuNav .NavListLi #menuEvents .menuClubsNav ul li:hover a,
header nav .menuNav .NavListLi #menuEvents .menuEventsNav ul li:hover a,
header nav .menuNav .NavListLi #menuEvents .menuRessourcesNav ul li:hover a,
header nav .menuNav .NavListLi #menuRessources .menuAboutNav ul li:hover a,
header nav .menuNav .NavListLi #menuRessources .menuServicesNav ul li:hover a,
header nav .menuNav .NavListLi #menuRessources .menuProgrammesNav ul li:hover a,
header nav .menuNav .NavListLi #menuRessources .menuClubsNav ul li:hover a,
header nav .menuNav .NavListLi #menuRessources .menuEventsNav ul li:hover a,
header nav .menuNav .NavListLi #menuRessources .menuRessourcesNav ul li:hover a {
  color: #fff;
}
header nav .menuNav .NavListLi #menuAbout:hover,
header nav .menuNav .NavListLi #menuServices:hover,
header nav .menuNav .NavListLi #menuProgrammes:hover,
header nav .menuNav .NavListLi #menuClubs:hover,
header nav .menuNav .NavListLi #menuEvents:hover,
header nav .menuNav .NavListLi #menuRessources:hover {
  display: block;
  position: relative;
}
header nav .menuNav .NavListLi #menuAbout:hover .menuAboutNav,
header nav .menuNav .NavListLi #menuAbout:hover .menuServicesNav,
header nav .menuNav .NavListLi #menuAbout:hover .menuProgrammesNav,
header nav .menuNav .NavListLi #menuAbout:hover .menuClubsNav,
header nav .menuNav .NavListLi #menuAbout:hover .menuEventsNav,
header nav .menuNav .NavListLi #menuAbout:hover .menuRessourcesNav,
header nav .menuNav .NavListLi #menuServices:hover .menuAboutNav,
header nav .menuNav .NavListLi #menuServices:hover .menuServicesNav,
header nav .menuNav .NavListLi #menuServices:hover .menuProgrammesNav,
header nav .menuNav .NavListLi #menuServices:hover .menuClubsNav,
header nav .menuNav .NavListLi #menuServices:hover .menuEventsNav,
header nav .menuNav .NavListLi #menuServices:hover .menuRessourcesNav,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuAboutNav,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuServicesNav,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuProgrammesNav,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuClubsNav,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuEventsNav,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuRessourcesNav,
header nav .menuNav .NavListLi #menuClubs:hover .menuAboutNav,
header nav .menuNav .NavListLi #menuClubs:hover .menuServicesNav,
header nav .menuNav .NavListLi #menuClubs:hover .menuProgrammesNav,
header nav .menuNav .NavListLi #menuClubs:hover .menuClubsNav,
header nav .menuNav .NavListLi #menuClubs:hover .menuEventsNav,
header nav .menuNav .NavListLi #menuClubs:hover .menuRessourcesNav,
header nav .menuNav .NavListLi #menuEvents:hover .menuAboutNav,
header nav .menuNav .NavListLi #menuEvents:hover .menuServicesNav,
header nav .menuNav .NavListLi #menuEvents:hover .menuProgrammesNav,
header nav .menuNav .NavListLi #menuEvents:hover .menuClubsNav,
header nav .menuNav .NavListLi #menuEvents:hover .menuEventsNav,
header nav .menuNav .NavListLi #menuEvents:hover .menuRessourcesNav,
header nav .menuNav .NavListLi #menuRessources:hover .menuAboutNav,
header nav .menuNav .NavListLi #menuRessources:hover .menuServicesNav,
header nav .menuNav .NavListLi #menuRessources:hover .menuProgrammesNav,
header nav .menuNav .NavListLi #menuRessources:hover .menuClubsNav,
header nav .menuNav .NavListLi #menuRessources:hover .menuEventsNav,
header nav .menuNav .NavListLi #menuRessources:hover .menuRessourcesNav {
  display: block;
  position: absolute;
}
header nav .menuNav .NavListLi #menuAbout:hover .menuAboutNav ul,
header nav .menuNav .NavListLi #menuAbout:hover .menuServicesNav ul,
header nav .menuNav .NavListLi #menuAbout:hover .menuProgrammesNav ul,
header nav .menuNav .NavListLi #menuAbout:hover .menuClubsNav ul,
header nav .menuNav .NavListLi #menuAbout:hover .menuEventsNav ul,
header nav .menuNav .NavListLi #menuAbout:hover .menuRessourcesNav ul,
header nav .menuNav .NavListLi #menuServices:hover .menuAboutNav ul,
header nav .menuNav .NavListLi #menuServices:hover .menuServicesNav ul,
header nav .menuNav .NavListLi #menuServices:hover .menuProgrammesNav ul,
header nav .menuNav .NavListLi #menuServices:hover .menuClubsNav ul,
header nav .menuNav .NavListLi #menuServices:hover .menuEventsNav ul,
header nav .menuNav .NavListLi #menuServices:hover .menuRessourcesNav ul,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuAboutNav ul,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuServicesNav ul,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuProgrammesNav ul,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuClubsNav ul,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuEventsNav ul,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuRessourcesNav ul,
header nav .menuNav .NavListLi #menuClubs:hover .menuAboutNav ul,
header nav .menuNav .NavListLi #menuClubs:hover .menuServicesNav ul,
header nav .menuNav .NavListLi #menuClubs:hover .menuProgrammesNav ul,
header nav .menuNav .NavListLi #menuClubs:hover .menuClubsNav ul,
header nav .menuNav .NavListLi #menuClubs:hover .menuEventsNav ul,
header nav .menuNav .NavListLi #menuClubs:hover .menuRessourcesNav ul,
header nav .menuNav .NavListLi #menuEvents:hover .menuAboutNav ul,
header nav .menuNav .NavListLi #menuEvents:hover .menuServicesNav ul,
header nav .menuNav .NavListLi #menuEvents:hover .menuProgrammesNav ul,
header nav .menuNav .NavListLi #menuEvents:hover .menuClubsNav ul,
header nav .menuNav .NavListLi #menuEvents:hover .menuEventsNav ul,
header nav .menuNav .NavListLi #menuEvents:hover .menuRessourcesNav ul,
header nav .menuNav .NavListLi #menuRessources:hover .menuAboutNav ul,
header nav .menuNav .NavListLi #menuRessources:hover .menuServicesNav ul,
header nav .menuNav .NavListLi #menuRessources:hover .menuProgrammesNav ul,
header nav .menuNav .NavListLi #menuRessources:hover .menuClubsNav ul,
header nav .menuNav .NavListLi #menuRessources:hover .menuEventsNav ul,
header nav .menuNav .NavListLi #menuRessources:hover .menuRessourcesNav ul {
  display: block;
  text-align: left;
  text-transform: none;
  margin: 10px 0;
  background: #fff;
  color: #090a29;
  list-style: none;
  border-top: 2px solid #ea4d8f;
}
@media screen and (max-width: 770px) {
  header nav .menuNav .NavListLi #menuAbout:hover .menuAboutNav ul,
  header nav .menuNav .NavListLi #menuAbout:hover .menuServicesNav ul,
  header nav .menuNav .NavListLi #menuAbout:hover .menuProgrammesNav ul,
  header nav .menuNav .NavListLi #menuAbout:hover .menuClubsNav ul,
  header nav .menuNav .NavListLi #menuAbout:hover .menuEventsNav ul,
  header nav .menuNav .NavListLi #menuAbout:hover .menuRessourcesNav ul,
  header nav .menuNav .NavListLi #menuServices:hover .menuAboutNav ul,
  header nav .menuNav .NavListLi #menuServices:hover .menuServicesNav ul,
  header nav .menuNav .NavListLi #menuServices:hover .menuProgrammesNav ul,
  header nav .menuNav .NavListLi #menuServices:hover .menuClubsNav ul,
  header nav .menuNav .NavListLi #menuServices:hover .menuEventsNav ul,
  header nav .menuNav .NavListLi #menuServices:hover .menuRessourcesNav ul,
  header nav .menuNav .NavListLi #menuProgrammes:hover .menuAboutNav ul,
  header nav .menuNav .NavListLi #menuProgrammes:hover .menuServicesNav ul,
  header nav .menuNav .NavListLi #menuProgrammes:hover .menuProgrammesNav ul,
  header nav .menuNav .NavListLi #menuProgrammes:hover .menuClubsNav ul,
  header nav .menuNav .NavListLi #menuProgrammes:hover .menuEventsNav ul,
  header nav .menuNav .NavListLi #menuProgrammes:hover .menuRessourcesNav ul,
  header nav .menuNav .NavListLi #menuClubs:hover .menuAboutNav ul,
  header nav .menuNav .NavListLi #menuClubs:hover .menuServicesNav ul,
  header nav .menuNav .NavListLi #menuClubs:hover .menuProgrammesNav ul,
  header nav .menuNav .NavListLi #menuClubs:hover .menuClubsNav ul,
  header nav .menuNav .NavListLi #menuClubs:hover .menuEventsNav ul,
  header nav .menuNav .NavListLi #menuClubs:hover .menuRessourcesNav ul,
  header nav .menuNav .NavListLi #menuEvents:hover .menuAboutNav ul,
  header nav .menuNav .NavListLi #menuEvents:hover .menuServicesNav ul,
  header nav .menuNav .NavListLi #menuEvents:hover .menuProgrammesNav ul,
  header nav .menuNav .NavListLi #menuEvents:hover .menuClubsNav ul,
  header nav .menuNav .NavListLi #menuEvents:hover .menuEventsNav ul,
  header nav .menuNav .NavListLi #menuEvents:hover .menuRessourcesNav ul,
  header nav .menuNav .NavListLi #menuRessources:hover .menuAboutNav ul,
  header nav .menuNav .NavListLi #menuRessources:hover .menuServicesNav ul,
  header nav .menuNav .NavListLi #menuRessources:hover .menuProgrammesNav ul,
  header nav .menuNav .NavListLi #menuRessources:hover .menuClubsNav ul,
  header nav .menuNav .NavListLi #menuRessources:hover .menuEventsNav ul,
  header nav .menuNav .NavListLi #menuRessources:hover .menuRessourcesNav ul {
    width: 420px;
    text-align: center;
    color: #ea4d8f;
  }
}
header nav .menuNav .NavListLi #menuAbout:hover .menuAboutNav ul li,
header nav .menuNav .NavListLi #menuAbout:hover .menuServicesNav ul li,
header nav .menuNav .NavListLi #menuAbout:hover .menuProgrammesNav ul li,
header nav .menuNav .NavListLi #menuAbout:hover .menuClubsNav ul li,
header nav .menuNav .NavListLi #menuAbout:hover .menuEventsNav ul li,
header nav .menuNav .NavListLi #menuAbout:hover .menuRessourcesNav ul li,
header nav .menuNav .NavListLi #menuServices:hover .menuAboutNav ul li,
header nav .menuNav .NavListLi #menuServices:hover .menuServicesNav ul li,
header nav .menuNav .NavListLi #menuServices:hover .menuProgrammesNav ul li,
header nav .menuNav .NavListLi #menuServices:hover .menuClubsNav ul li,
header nav .menuNav .NavListLi #menuServices:hover .menuEventsNav ul li,
header nav .menuNav .NavListLi #menuServices:hover .menuRessourcesNav ul li,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuAboutNav ul li,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuServicesNav ul li,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuProgrammesNav ul li,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuClubsNav ul li,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuEventsNav ul li,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuRessourcesNav ul li,
header nav .menuNav .NavListLi #menuClubs:hover .menuAboutNav ul li,
header nav .menuNav .NavListLi #menuClubs:hover .menuServicesNav ul li,
header nav .menuNav .NavListLi #menuClubs:hover .menuProgrammesNav ul li,
header nav .menuNav .NavListLi #menuClubs:hover .menuClubsNav ul li,
header nav .menuNav .NavListLi #menuClubs:hover .menuEventsNav ul li,
header nav .menuNav .NavListLi #menuClubs:hover .menuRessourcesNav ul li,
header nav .menuNav .NavListLi #menuEvents:hover .menuAboutNav ul li,
header nav .menuNav .NavListLi #menuEvents:hover .menuServicesNav ul li,
header nav .menuNav .NavListLi #menuEvents:hover .menuProgrammesNav ul li,
header nav .menuNav .NavListLi #menuEvents:hover .menuClubsNav ul li,
header nav .menuNav .NavListLi #menuEvents:hover .menuEventsNav ul li,
header nav .menuNav .NavListLi #menuEvents:hover .menuRessourcesNav ul li,
header nav .menuNav .NavListLi #menuRessources:hover .menuAboutNav ul li,
header nav .menuNav .NavListLi #menuRessources:hover .menuServicesNav ul li,
header nav .menuNav .NavListLi #menuRessources:hover .menuProgrammesNav ul li,
header nav .menuNav .NavListLi #menuRessources:hover .menuClubsNav ul li,
header nav .menuNav .NavListLi #menuRessources:hover .menuEventsNav ul li,
header nav .menuNav .NavListLi #menuRessources:hover .menuRessourcesNav ul li {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid rgba(241, 241, 241, 0.8);
  font-size: 0.8rem;
}
header nav .menuNav .NavListLi #menuAbout:hover .menuAboutNav ul li:hover,
header nav .menuNav .NavListLi #menuAbout:hover .menuServicesNav ul li:hover,
header nav .menuNav .NavListLi #menuAbout:hover .menuProgrammesNav ul li:hover,
header nav .menuNav .NavListLi #menuAbout:hover .menuClubsNav ul li:hover,
header nav .menuNav .NavListLi #menuAbout:hover .menuEventsNav ul li:hover,
header nav .menuNav .NavListLi #menuAbout:hover .menuRessourcesNav ul li:hover,
header nav .menuNav .NavListLi #menuServices:hover .menuAboutNav ul li:hover,
header nav .menuNav .NavListLi #menuServices:hover .menuServicesNav ul li:hover,
header nav .menuNav .NavListLi #menuServices:hover .menuProgrammesNav ul li:hover,
header nav .menuNav .NavListLi #menuServices:hover .menuClubsNav ul li:hover,
header nav .menuNav .NavListLi #menuServices:hover .menuEventsNav ul li:hover,
header nav .menuNav .NavListLi #menuServices:hover .menuRessourcesNav ul li:hover,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuAboutNav ul li:hover,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuServicesNav ul li:hover,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuProgrammesNav ul li:hover,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuClubsNav ul li:hover,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuEventsNav ul li:hover,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuRessourcesNav ul li:hover,
header nav .menuNav .NavListLi #menuClubs:hover .menuAboutNav ul li:hover,
header nav .menuNav .NavListLi #menuClubs:hover .menuServicesNav ul li:hover,
header nav .menuNav .NavListLi #menuClubs:hover .menuProgrammesNav ul li:hover,
header nav .menuNav .NavListLi #menuClubs:hover .menuClubsNav ul li:hover,
header nav .menuNav .NavListLi #menuClubs:hover .menuEventsNav ul li:hover,
header nav .menuNav .NavListLi #menuClubs:hover .menuRessourcesNav ul li:hover,
header nav .menuNav .NavListLi #menuEvents:hover .menuAboutNav ul li:hover,
header nav .menuNav .NavListLi #menuEvents:hover .menuServicesNav ul li:hover,
header nav .menuNav .NavListLi #menuEvents:hover .menuProgrammesNav ul li:hover,
header nav .menuNav .NavListLi #menuEvents:hover .menuClubsNav ul li:hover,
header nav .menuNav .NavListLi #menuEvents:hover .menuEventsNav ul li:hover,
header nav .menuNav .NavListLi #menuEvents:hover .menuRessourcesNav ul li:hover,
header nav .menuNav .NavListLi #menuRessources:hover .menuAboutNav ul li:hover,
header nav .menuNav .NavListLi #menuRessources:hover .menuServicesNav ul li:hover,
header nav .menuNav .NavListLi #menuRessources:hover .menuProgrammesNav ul li:hover,
header nav .menuNav .NavListLi #menuRessources:hover .menuClubsNav ul li:hover,
header nav .menuNav .NavListLi #menuRessources:hover .menuEventsNav ul li:hover,
header nav .menuNav .NavListLi #menuRessources:hover .menuRessourcesNav ul li:hover {
  color: #fff;
  background: #ea4d8f;
  -webkit-transform: none;
          transform: none;
}
header nav .menuNav .NavListLi #menuServices .menuServicesNav ul {
  width: 170px;
}
header nav .menuNav .NavListLi #menuRessources .menuRessourcesNav ul {
  width: 250px;
}
header nav .menuNav .NavListLi #menuFormationsEnfants .menuFormationsEnfantsNav {
  display: none;
}
header nav .menuNav .NavListLi #menuFormationsEnfants .menuFormationsEnfantsNav ul {
  width: 200px;
}
header nav .menuNav .NavListLi #menuFormationsEnfants:hover {
  display: block;
  position: relative;
}
header nav .menuNav .NavListLi #menuFormationsEnfants:hover .menuFormationsEnfantsNav {
  display: block;
  position: absolute;
  top: -12px;
  left: 170px;
}
header nav .menuNav .NavListLi #menuFormationsEnfants:hover .menuFormationsEnfantsNav ul {
  display: block;
  text-align: left;
  text-transform: none;
  margin: 10px 0;
  background: #fff;
  color: #090a29;
  list-style: none;
  border-top: 2px solid #ea4d8f;
}
@media screen and (max-width: 770px) {
  header nav .menuNav .NavListLi #menuFormationsEnfants:hover .menuFormationsEnfantsNav ul {
    width: 420px;
    text-align: center;
    color: #ea4d8f;
  }
}
header nav .menuNav .NavListLi #menuFormationsEnfants:hover .menuFormationsEnfantsNav ul li {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid rgba(241, 241, 241, 0.8);
  font-size: 0.8rem;
}
header nav .menuNav .NavListLi #menuFormationsEnfants:hover .menuFormationsEnfantsNav ul li a {
  color: #090a29;
}
header nav .menuNav .NavListLi #menuFormationsEnfants:hover .menuFormationsEnfantsNav ul li:hover {
  background: #ea4d8f;
  -webkit-transform: none;
          transform: none;
}
header nav .menuNav .NavListLi #menuFormationsEnfants:hover .menuFormationsEnfantsNav ul li:hover a {
  color: #fff;
}

footer {
  background: #090a29;
}
footer .footerNiveau1 .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 905px) {
  footer .footerNiveau1 .container {
    grid-template-columns: 1fr;
  }
}
footer .footerNiveau1 .container div {
  padding: 20px;
  text-align: center;
}
footer .footerNiveau1 .container div img {
  width: 60%;
  margin: 0 auto 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.25));
          filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.25));
}
@media screen and (max-width: 770px) {
  footer .footerNiveau1 .container div img {
    width: 30%;
    margin: 0 auto;
  }
}
footer .footerNiveau1 .container div img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
footer .footerNiveau1 .container div h2 {
  padding-bottom: 10px;
}
footer .footerNiveau1 .container div p {
  color: #fff;
}
footer .footerNiveau1 .container div h4 {
  padding: 20px;
}
footer .footerNiveau1 .container div ul {
  list-style: none;
}
footer .footerNiveau1 .container div ul li {
  padding: 5px;
}
footer .footerNiveau1 .container div ul li a {
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
footer .footerNiveau1 .container div ul li a:hover {
  color: #ea4d8f;
}
footer .footerNiveau1 .container div .social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footerNiveau1 .container div .social-link i {
  margin: 5px;
  font-size: 1.5rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
footer .footerNiveau1 .container div .social-link i:hover {
  color: #ea4d8f;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
footer .footerNiveau2 .container {
  padding: 0 20px 20px;
}
footer .footerNiveau2 .container p {
  color: #fff;
  font-size: 0.9rem;
}

.accueil .container {
  height: 80vh;
  background: url(../img/accueil.webp) no-repeat left/contain;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.accueil .container h2 {
  padding-bottom: 10px;
  text-transform: uppercase;
}
.accueil .container h3 {
  padding-bottom: 20px;
}
.accueil .container p {
  padding-bottom: 20px;
}

.about {
  background: #090a29;
}
.about .container {
  display: grid;
  grid-template-columns: 70% 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .container h2 {
  padding-bottom: 30px;
}
.about .container p {
  padding-bottom: 20px;
  color: #fff;
}
.about .container img {
  width: 60%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.25));
          filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.25));
}
@media screen and (max-width: 770px) {
  .about .container img {
    width: 30%;
    margin: 0 auto;
  }
}

.services .container h2 {
  padding-bottom: 50px;
}
.services .container .services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.services .container .services-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  padding: 20px;
  border: 1px solid #f1f1f1;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}/*# sourceMappingURL=index.css.map */