@font-face {
  font-family: "nunito";
  src: url(../fonts/Nunito-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: nunito, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

body {
  color: #333;
  font-size: 1rem;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #070604;
  letter-spacing: 1px;
  font-weight: normal;
}

a,
a:visited {
  text-decoration: none;
}

.container {
  width: 85%;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

.intro p {
  padding-bottom: 30px;
}

.conclusion {
  padding-top: 30px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: 2px solid #070604;
  border-radius: 150px;
  background: transparent;
  font-size: 1rem;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
button a {
  text-decoration: none;
  color: #070604;
}
button:hover {
  background: #070604;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #fff;
}
button:hover a {
  color: #fff;
}

.title-page {
  background: linear-gradient(45deg, #f1b1fc, #d6bff6, #72daea, #72f0d8, #dcf8be);
  width: 85%;
  margin: 50px auto 0;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 770px) {
  .title-page .container {
    grid-template-columns: 1fr;
  }
}
.title-page .container h1 {
  text-transform: uppercase;
}

header {
  background: linear-gradient(45deg, #f1b1fc, #d6bff6, #72daea, #72f0d8, #dcf8be);
}
header nav {
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
  display: grid;
  grid-template-columns: 20% 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1090px) {
  header nav {
    grid-template-columns: 1fr;
    position: relative;
  }
}
header nav a {
  margin: 0 auto;
}
header nav a img {
  width: 80%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (max-width: 1090px) {
  header nav a img {
    width: 30%;
  }
}
header nav a img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
header nav .menu-icons {
  display: none;
  text-align: right;
  color: #070604;
}
@media screen and (max-width: 1090px) {
  header nav .menu-icons {
    display: block;
    position: absolute;
    top: 70px;
    right: 0px;
  }
}
header nav .menu-icons i {
  font-size: 1.5rem;
}
header nav .menu-icons #open-icon {
  display: none;
}
@media screen and (max-width: 1090px) {
  header nav .menu-icons #open-icon {
    display: block;
  }
}
header nav .menu-icons #close-icon {
  display: none;
}
header nav .menu-icons:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
header nav .menuNav .NavListLi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (max-width: 1090px) {
  header nav .menuNav .NavListLi {
    display: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}
header nav .menuNav .NavListLi .liNav {
  list-style: none;
  padding: 5px;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
@media screen and (max-width: 1090px) {
  header nav .menuNav .NavListLi .liNav {
    padding: 10px 0;
    border-bottom: 1px solid #dfdfdf;
  }
}
header nav .menuNav .NavListLi .liNav a {
  color: #070604;
}
header nav .menuNav .NavListLi .liNav a button {
  margin-top: 0;
}
header nav .menuNav .NavListLi .liNav a button:hover {
  color: #fff;
}
header nav .menuNav .NavListLi .liNav:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
@media screen and (max-width: 1090px) {
  header nav .menuNav .NavListLi .liNav:hover {
    -webkit-transform: none;
            transform: none;
  }
}
header nav .menuNav .NavListLi #menuAbout .menuAboutNav,
header nav .menuNav .NavListLi #menuAbout .menuProgrammesNav,
header nav .menuNav .NavListLi #menuAbout .menuRessourcesNav,
header nav .menuNav .NavListLi #menuProgrammes .menuAboutNav,
header nav .menuNav .NavListLi #menuProgrammes .menuProgrammesNav,
header nav .menuNav .NavListLi #menuProgrammes .menuRessourcesNav,
header nav .menuNav .NavListLi #menuRessources .menuAboutNav,
header nav .menuNav .NavListLi #menuRessources .menuProgrammesNav,
header nav .menuNav .NavListLi #menuRessources .menuRessourcesNav {
  display: none;
}
header nav .menuNav .NavListLi #menuAbout .menuAboutNav ul,
header nav .menuNav .NavListLi #menuAbout .menuProgrammesNav ul,
header nav .menuNav .NavListLi #menuAbout .menuRessourcesNav ul,
header nav .menuNav .NavListLi #menuProgrammes .menuAboutNav ul,
header nav .menuNav .NavListLi #menuProgrammes .menuProgrammesNav ul,
header nav .menuNav .NavListLi #menuProgrammes .menuRessourcesNav ul,
header nav .menuNav .NavListLi #menuRessources .menuAboutNav ul,
header nav .menuNav .NavListLi #menuRessources .menuProgrammesNav ul,
header nav .menuNav .NavListLi #menuRessources .menuRessourcesNav ul {
  width: 200px;
}
header nav .menuNav .NavListLi #menuAbout .menuAboutNav ul li,
header nav .menuNav .NavListLi #menuAbout .menuProgrammesNav ul li,
header nav .menuNav .NavListLi #menuAbout .menuRessourcesNav ul li,
header nav .menuNav .NavListLi #menuProgrammes .menuAboutNav ul li,
header nav .menuNav .NavListLi #menuProgrammes .menuProgrammesNav ul li,
header nav .menuNav .NavListLi #menuProgrammes .menuRessourcesNav ul li,
header nav .menuNav .NavListLi #menuRessources .menuAboutNav ul li,
header nav .menuNav .NavListLi #menuRessources .menuProgrammesNav ul li,
header nav .menuNav .NavListLi #menuRessources .menuRessourcesNav ul li {
  position: relative;
}
header nav .menuNav .NavListLi #menuAbout .menuAboutNav ul li i,
header nav .menuNav .NavListLi #menuAbout .menuProgrammesNav ul li i,
header nav .menuNav .NavListLi #menuAbout .menuRessourcesNav ul li i,
header nav .menuNav .NavListLi #menuProgrammes .menuAboutNav ul li i,
header nav .menuNav .NavListLi #menuProgrammes .menuProgrammesNav ul li i,
header nav .menuNav .NavListLi #menuProgrammes .menuRessourcesNav ul li i,
header nav .menuNav .NavListLi #menuRessources .menuAboutNav ul li i,
header nav .menuNav .NavListLi #menuRessources .menuProgrammesNav ul li i,
header nav .menuNav .NavListLi #menuRessources .menuRessourcesNav ul li i {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 1090px) {
  header nav .menuNav .NavListLi #menuAbout .menuAboutNav ul li i,
  header nav .menuNav .NavListLi #menuAbout .menuProgrammesNav ul li i,
  header nav .menuNav .NavListLi #menuAbout .menuRessourcesNav ul li i,
  header nav .menuNav .NavListLi #menuProgrammes .menuAboutNav ul li i,
  header nav .menuNav .NavListLi #menuProgrammes .menuProgrammesNav ul li i,
  header nav .menuNav .NavListLi #menuProgrammes .menuRessourcesNav ul li i,
  header nav .menuNav .NavListLi #menuRessources .menuAboutNav ul li i,
  header nav .menuNav .NavListLi #menuRessources .menuProgrammesNav ul li i,
  header nav .menuNav .NavListLi #menuRessources .menuRessourcesNav ul li i {
    display: none;
  }
}
header nav .menuNav .NavListLi #menuAbout .menuAboutNav ul li a,
header nav .menuNav .NavListLi #menuAbout .menuProgrammesNav ul li a,
header nav .menuNav .NavListLi #menuAbout .menuRessourcesNav ul li a,
header nav .menuNav .NavListLi #menuProgrammes .menuAboutNav ul li a,
header nav .menuNav .NavListLi #menuProgrammes .menuProgrammesNav ul li a,
header nav .menuNav .NavListLi #menuProgrammes .menuRessourcesNav ul li a,
header nav .menuNav .NavListLi #menuRessources .menuAboutNav ul li a,
header nav .menuNav .NavListLi #menuRessources .menuProgrammesNav ul li a,
header nav .menuNav .NavListLi #menuRessources .menuRessourcesNav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header nav .menuNav .NavListLi #menuAbout:hover,
header nav .menuNav .NavListLi #menuProgrammes:hover,
header nav .menuNav .NavListLi #menuRessources:hover {
  display: block;
  position: relative;
}
header nav .menuNav .NavListLi #menuAbout:hover .menuAboutNav,
header nav .menuNav .NavListLi #menuAbout:hover .menuProgrammesNav,
header nav .menuNav .NavListLi #menuAbout:hover .menuRessourcesNav,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuAboutNav,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuProgrammesNav,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuRessourcesNav,
header nav .menuNav .NavListLi #menuRessources:hover .menuAboutNav,
header nav .menuNav .NavListLi #menuRessources:hover .menuProgrammesNav,
header nav .menuNav .NavListLi #menuRessources:hover .menuRessourcesNav {
  display: block;
  position: absolute;
}
header nav .menuNav .NavListLi #menuAbout:hover .menuAboutNav ul,
header nav .menuNav .NavListLi #menuAbout:hover .menuProgrammesNav ul,
header nav .menuNav .NavListLi #menuAbout:hover .menuRessourcesNav ul,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuAboutNav ul,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuProgrammesNav ul,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuRessourcesNav ul,
header nav .menuNav .NavListLi #menuRessources:hover .menuAboutNav ul,
header nav .menuNav .NavListLi #menuRessources:hover .menuProgrammesNav ul,
header nav .menuNav .NavListLi #menuRessources:hover .menuRessourcesNav ul {
  display: block;
  text-align: left;
  margin: 10px 0;
  background: #fff;
  color: linear-gradient(45deg, #f1b1fc, #d6bff6, #72daea, #72f0d8, #dcf8be);
  list-style: none;
  border-top: 2px solid #070604;
}
@media screen and (max-width: 1090px) {
  header nav .menuNav .NavListLi #menuAbout:hover .menuAboutNav ul,
  header nav .menuNav .NavListLi #menuAbout:hover .menuProgrammesNav ul,
  header nav .menuNav .NavListLi #menuAbout:hover .menuRessourcesNav ul,
  header nav .menuNav .NavListLi #menuProgrammes:hover .menuAboutNav ul,
  header nav .menuNav .NavListLi #menuProgrammes:hover .menuProgrammesNav ul,
  header nav .menuNav .NavListLi #menuProgrammes:hover .menuRessourcesNav ul,
  header nav .menuNav .NavListLi #menuRessources:hover .menuAboutNav ul,
  header nav .menuNav .NavListLi #menuRessources:hover .menuProgrammesNav ul,
  header nav .menuNav .NavListLi #menuRessources:hover .menuRessourcesNav ul {
    width: 100%;
    text-align: center;
    color: linear-gradient(45deg, #f1b1fc, #d6bff6, #72daea, #72f0d8, #dcf8be);
  }
}
header nav .menuNav .NavListLi #menuAbout:hover .menuAboutNav ul li,
header nav .menuNav .NavListLi #menuAbout:hover .menuProgrammesNav ul li,
header nav .menuNav .NavListLi #menuAbout:hover .menuRessourcesNav ul li,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuAboutNav ul li,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuProgrammesNav ul li,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuRessourcesNav ul li,
header nav .menuNav .NavListLi #menuRessources:hover .menuAboutNav ul li,
header nav .menuNav .NavListLi #menuRessources:hover .menuProgrammesNav ul li,
header nav .menuNav .NavListLi #menuRessources:hover .menuRessourcesNav ul li {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid rgba(241, 241, 241, 0.8);
  font-size: 0.8rem;
}
@media screen and (max-width: 1090px) {
  header nav .menuNav .NavListLi #menuAbout:hover .menuAboutNav ul li,
  header nav .menuNav .NavListLi #menuAbout:hover .menuProgrammesNav ul li,
  header nav .menuNav .NavListLi #menuAbout:hover .menuRessourcesNav ul li,
  header nav .menuNav .NavListLi #menuProgrammes:hover .menuAboutNav ul li,
  header nav .menuNav .NavListLi #menuProgrammes:hover .menuProgrammesNav ul li,
  header nav .menuNav .NavListLi #menuProgrammes:hover .menuRessourcesNav ul li,
  header nav .menuNav .NavListLi #menuRessources:hover .menuAboutNav ul li,
  header nav .menuNav .NavListLi #menuRessources:hover .menuProgrammesNav ul li,
  header nav .menuNav .NavListLi #menuRessources:hover .menuRessourcesNav ul li {
    width: 87.5vw;
  }
}
header nav .menuNav .NavListLi #menuAbout:hover .menuAboutNav ul li:hover,
header nav .menuNav .NavListLi #menuAbout:hover .menuProgrammesNav ul li:hover,
header nav .menuNav .NavListLi #menuAbout:hover .menuRessourcesNav ul li:hover,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuAboutNav ul li:hover,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuProgrammesNav ul li:hover,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuRessourcesNav ul li:hover,
header nav .menuNav .NavListLi #menuRessources:hover .menuAboutNav ul li:hover,
header nav .menuNav .NavListLi #menuRessources:hover .menuProgrammesNav ul li:hover,
header nav .menuNav .NavListLi #menuRessources:hover .menuRessourcesNav ul li:hover {
  background: linear-gradient(45deg, #f1b1fc, #d6bff6, #72daea, #72f0d8, #dcf8be);
  -webkit-transform: none;
          transform: none;
}
header nav .menuNav .NavListLi #menuAbout:hover .menuAboutNav ul li:hover a,
header nav .menuNav .NavListLi #menuAbout:hover .menuProgrammesNav ul li:hover a,
header nav .menuNav .NavListLi #menuAbout:hover .menuRessourcesNav ul li:hover a,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuAboutNav ul li:hover a,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuProgrammesNav ul li:hover a,
header nav .menuNav .NavListLi #menuProgrammes:hover .menuRessourcesNav ul li:hover a,
header nav .menuNav .NavListLi #menuRessources:hover .menuAboutNav ul li:hover a,
header nav .menuNav .NavListLi #menuRessources:hover .menuProgrammesNav ul li:hover a,
header nav .menuNav .NavListLi #menuRessources:hover .menuRessourcesNav ul li:hover a {
  color: #070604;
}

#header-maintenance nav {
  display: block;
  text-align: center;
}
#header-maintenance nav img {
  width: 10%;
}

.contact {
  background: url(../img/12.png) center/cover;
  padding: 100px;
}
@media screen and (max-width: 770px) {
  .contact {
    padding: 100px 50px;
  }
}
.contact .container {
  background: linear-gradient(45deg, #f1b1fc, #d6bff6, #72daea, #72f0d8, #dcf8be);
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  padding: 50px;
}
.contact .container h2 {
  padding-bottom: 30px;
}
.contact .container p {
  padding-bottom: 20px;
}

footer {
  background: linear-gradient(45deg, #f1b1fc, #d6bff6, #72daea, #72f0d8, #dcf8be);
}
footer .footerNiveau1 .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 905px) {
  footer .footerNiveau1 .container {
    grid-template-columns: 1fr;
  }
}
footer .footerNiveau1 .container div {
  padding: 20px;
  text-align: center;
}
footer .footerNiveau1 .container div img {
  width: 100%;
  margin: 0 auto;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
}
@media screen and (max-width: 950px) {
  footer .footerNiveau1 .container div img {
    width: 50%;
    margin: 0 auto;
  }
}
footer .footerNiveau1 .container div img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
footer .footerNiveau1 .container div h4 {
  padding: 20px;
  text-transform: uppercase;
  color: #fff;
}
footer .footerNiveau1 .container div ul {
  list-style: none;
}
footer .footerNiveau1 .container div ul li {
  padding: 5px;
}
footer .footerNiveau1 .container div ul li a {
  color: #070604;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
footer .footerNiveau1 .container div ul li a:hover {
  color: #fff;
}
footer .footerNiveau1 .container div .social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footerNiveau1 .container div .social-link i {
  margin: 5px;
  font-size: 1.5rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
footer .footerNiveau1 .container div .social-link i:hover {
  color: #fff;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
footer .footerNiveau2 .container {
  padding: 0 20px 20px;
}
footer .footerNiveau2 .container p {
  color: #070604;
  font-size: 0.9rem;
}
footer .footerNiveau2 .container p a {
  color: #070604;
  text-decoration: none;
}
footer .footerNiveau2 .container p a:hover {
  color: #fff;
}

#footer-maintenance .footerNiveau1 .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 905px) {
  #footer-maintenance .footerNiveau1 .container {
    grid-template-columns: 1fr;
  }
}
#footer-maintenance .footerNiveau1 .container img {
  width: 50%;
  margin: 0 auto;
}

#maintenance h1 {
  padding-bottom: 30px;
}
#maintenance a {
  font-weight: bold;
  color: #333;
}
#maintenance a:hover {
  background: linear-gradient(45deg, #f1b1fc, #d6bff6, #72daea, #72f0d8, #dcf8be);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#accueil .accueil .container {
  height: 80vh;
  background: url(../img/accueil.webp) no-repeat left/contain;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1100px) {
  #accueil .accueil .container {
    grid-template-columns: 1fr;
    height: auto;
    background: none;
  }
  #accueil .accueil .container #img-hero {
    height: 60vh;
    background: url(../img/accueil.webp) no-repeat center/contain;
    margin-bottom: 30px;
  }
}
#accueil .accueil .container h1 {
  padding-bottom: 30px;
  text-transform: uppercase;
}
#accueil .accueil .container p {
  padding-bottom: 20px;
}
#accueil .programme {
  background: linear-gradient(45deg, #f1b1fc, #d6bff6, #72daea, #72f0d8, #dcf8be);
}
#accueil .programme .container h2 {
  padding-bottom: 20px;
}
#accueil .programme .container .programme-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
@media screen and (max-width: 770px) {
  #accueil .programme .container .programme-container {
    grid-template-columns: 1fr;
  }
}
#accueil .programme .container .programme-container div {
  background: #fff;
  padding: 20px;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
#accueil .services .container h2 {
  padding-bottom: 50px;
}
#accueil .services .container .services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
@media screen and (max-width: 905px) {
  #accueil .services .container .services-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 520px) {
  #accueil .services .container .services-container {
    grid-template-columns: 1fr;
  }
}
#accueil .services .container .services-container a {
  text-decoration: none;
}
#accueil .services .container .services-container a div {
  background: linear-gradient(45deg, #f1b1fc, #d6bff6, #72daea, #72f0d8, #dcf8be);
  display: grid;
  grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
#accueil .services .container .services-container a div img {
  width: 100%;
  margin: 0 auto 20px;
}
#accueil .services .container .services-container a div:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
#accueil .about {
  background: linear-gradient(45deg, #f1b1fc, #d6bff6, #72daea, #72f0d8, #dcf8be);
}
#accueil .about .container {
  display: grid;
  grid-template-columns: 30% 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 770px) {
  #accueil .about .container {
    grid-template-columns: 1fr;
  }
}
#accueil .about .container h2 {
  padding-bottom: 30px;
}
#accueil .about .container p {
  padding-bottom: 20px;
  color: #fff;
}
#accueil .about .container img {
  width: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
}
@media screen and (max-width: 770px) {
  #accueil .about .container img {
    width: 50%;
    margin: 0 auto;
  }
}
#accueil .actus .container h2 {
  padding-bottom: 30px;
}
#accueil .actus .container p {
  padding-bottom: 20px;
}

#a-propos .container h2 {
  padding-bottom: 30px;
}
#a-propos .container img {
  width: 100%;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 350px;
}
#a-propos .container .mission,
#a-propos .container .equipe-container {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#a-propos .container .mission div,
#a-propos .container .equipe-container div {
  padding: 20px;
}
#a-propos .container .approche {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#a-propos .container .approche div {
  padding: 20px;
}
#a-propos .container .equipe {
  background: linear-gradient(45deg, #f1b1fc, #d6bff6, #72daea, #72f0d8, #dcf8be);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 50px;
  margin: 50px auto;
}
#a-propos .container .equipe div {
  padding: 0;
}
#a-propos .container .valeurs {
  padding: 50px 0;
}
#a-propos .container .valeurs h2 {
  padding-bottom: 50px;
}
#a-propos .container .valeurs div ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 730px) {
  #a-propos .container .valeurs div ul {
    grid-template-columns: 1fr;
  }
}
#a-propos .container .valeurs div ul li {
  list-style: none;
  padding: 50px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  height: 100%;
  background: linear-gradient(45deg, #f1b1fc, #d6bff6, #72daea, #72f0d8, #dcf8be);
}
#a-propos .container .valeurs div ul li i {
  display: block;
  padding-bottom: 30px;
  font-size: 2rem;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
#a-propos .container .valeurs div ul li strong {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.1rem;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

#programmes .programmes .container h2 {
  padding-bottom: 30px;
}
#programmes .programmes .container img {
  width: 100%;
  padding-bottom: 30px;
}
#programmes .programmes .container p {
  padding-bottom: 20px;
  line-height: 30px;
}
#programmes .programmes .container .services-container {
  margin: 20px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#programmes .programmes .container .services-container div {
  padding: 20px;
}
#programmes .programmes .container .left,
#programmes .programmes .container .right {
  display: grid;
}
#programmes .programmes .container .left {
  grid-template-columns: 30% 70%;
}
@media screen and (max-width: 1040px) {
  #programmes .programmes .container .left {
    grid-template-columns: 1fr;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
#programmes .programmes .container .right {
  grid-template-columns: 70% 30%;
}
@media screen and (max-width: 1040px) {
  #programmes .programmes .container .right {
    grid-template-columns: 1fr;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
#programmes .programmes .container .services-infos {
  display: grid;
  grid-template-columns: 50% 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#programmes .programmes .container .services-infos h3 {
  padding-bottom: 30px;
}
#programmes .programmes .container .services-infos small {
  font-size: 0.8rem;
  line-height: 20px;
  padding-top: 30px;
}

#ressources .ressources .container .intro p {
  padding-bottom: 50px;
}
#ressources .ressources .container .ressources-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 1080px) {
  #ressources .ressources .container .ressources-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 790px) {
  #ressources .ressources .container .ressources-container {
    grid-template-columns: 1fr;
  }
}
#ressources .ressources .container .ressources-container a {
  text-decoration: none;
  color: #333;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  padding: 30px;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#ressources .ressources .container .ressources-container a i,
#ressources .ressources .container .ressources-container a h2 {
  color: #070604;
  padding-bottom: 30px;
}
#ressources .ressources .container .ressources-container a:hover {
  background: linear-gradient(45deg, #f1b1fc, #d6bff6, #72daea, #72f0d8, #dcf8be);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
#ressources .ressources .container .ressources-container a:hover i,
#ressources .ressources .container .ressources-container a:hover h2 {
  color: #fff;
}
#ressources .ressources .container .ressources-container a .ressources-infos i {
  font-size: 4rem;
}

#actualites .actualites .container .intro p {
  padding-bottom: 50px;
}
#actualites .actualites .container .actualites-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 1080px) {
  #actualites .actualites .container .actualites-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 790px) {
  #actualites .actualites .container .actualites-container {
    grid-template-columns: 1fr;
  }
}
#actualites .actualites .container .actualites-container a {
  text-decoration: none;
  color: #333;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  padding: 30px;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#actualites .actualites .container .actualites-container a h2 {
  color: #070604;
  padding-bottom: 30px;
}
#actualites .actualites .container .actualites-container a:hover {
  background: linear-gradient(45deg, #f1b1fc, #d6bff6, #72daea, #72f0d8, #dcf8be);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
#actualites .actualites .container .actualites-container a:hover h2 {
  color: #fff;
}
#actualites .actualites .container .actualites-container a .actualites-infos img {
  width: 100%;
}

#contact .contact-container .container .intro p {
  padding-bottom: 50px;
}
#contact .contact-container .container .contact-infos {
  display: grid;
  grid-template-columns: 30% 70%;
}
#contact .contact-container .container .contact-infos .left h2 {
  padding: 30px 0;
}
#contact .contact-container .container .contact-infos .left ul li {
  list-style: none;
  padding: 10px 0;
}
#contact .contact-container .container .contact-infos .left ul li a {
  color: #070604;
}
#contact .contact-container .container .contact-infos .left ul li a:hover {
  background: linear-gradient(45deg, #f1b1fc, #d6bff6, #72daea, #72f0d8, #dcf8be);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#contact .contact-container .container .contact-infos .left p {
  line-height: 30px;
}
#contact .contact-container .container .contact-infos .left .social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
#contact .contact-container .container .contact-infos .left .social-link i {
  font-size: 1.7rem;
  color: #333;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
#contact .contact-container .container .contact-infos .left .social-link i:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  background: linear-gradient(45deg, #f1b1fc, #d6bff6, #72daea, #72f0d8, #dcf8be);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#contact .contact-container .container .contact-infos .right h2 {
  padding-bottom: 30px;
}
#contact .contact-container .container .contact-infos .right form label {
  display: block;
  padding: 5px;
}
#contact .contact-container .container .contact-infos .right form label input {
  display: block;
  width: 85%;
  margin: 10px auto;
  padding: 5px 10px;
}
#contact .contact-container .container .contact-infos .right form label textarea {
  display: block;
  width: 85%;
  margin: 10px auto;
  padding: 5px 10px;
}/*# sourceMappingURL=index.css.map */