#programmes {
  .programmes {
    .container {
      h2 {
        padding-bottom: 30px;
      }

      img {
        width: 100%;
        padding-bottom: 30px;
      }

      p {
        padding-bottom: 20px;
        line-height: 30px;
      }

      .services-container {
        margin: 20px auto;
        align-items: center;
        padding: 50px;

        div {
          img {
            width: 100%;

            @media screen and (max-width: 770px) {
              width: 50%;
            }
          }
        }
      }
      .left,
      .right {
        display: grid;
      }

      .left {
        grid-template-columns: 30% 70%;
        background: $bg;
        border-radius: 20px;
        box-shadow: 0 0 5px $blackShadow;

        @media screen and (max-width: 770px) {
          grid-template-columns: 1fr;
        }
      }

      .right {
        grid-template-columns: 70% 30%;

        @media screen and (max-width: 770px) {
          grid-template-columns: 1fr;
          display: flex;
          flex-direction: column-reverse;
        }
      }
    }
  }
}
